# Backend
backend/vendor/
backend/.env
backend/storage/app/public/
backend/storage/logs/
backend/bootstrap/cache/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env

# System
.DS_Store
*.log
